@tailwind base;
@tailwind components;
@tailwind utilities;
.heading-xl {
  @apply text-5xl font-bold text-textPrimary;
}
.heading-lg {
  @apply text-3xl font-semibold text-textPrimary;
}
.text-body {
  @apply text-textSecondary leading-relaxed;
}
